body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow: hidden;
}

.navbar {
  width: 100%;
  background: radial-gradient(
    rgb(145, 145, 145),
    rgb(139, 139, 139),
    rgb(130, 130, 130),
    rgb(124, 124, 124),
    rgb(119, 119, 119)
  );
  height: 6.7%;
  position: absolute;
  border-bottom: 3px solid rgba(0, 0, 0, 0.774);
  z-index: 30;
}
a {
  text-decoration: none;
  display: inline-block;
}

.navbar a:hover {
  background-color: grey;
}

a:visited {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.categories a:hover {
  background: radial-gradient(
    rgb(255, 255, 255),
    rgb(233, 233, 233),
    rgb(211, 210, 210),
    rgb(190, 188, 188),
    rgb(167, 166, 166)
  );
}

.previous {
  top: 18%;
  position: relative;
  left: 3%;
  border: 2px solid black;
  border-radius: 50%;
}
.wrapper {
  top: 25%;
  position: absolute;
  width: 85px;
  margin: auto;
  text-align: center;
  left: 5%;
}
.next {
  top: 18%;
  position: relative;
  left: 3.5%;
  border: 2px solid black;
  border-radius: 50%;
}
.hover {
  position: relative;
}
.hover:hover {
  border: 2px solid rgb(196, 196, 196);
}
.exitbtn {
  position: absolute;
  left: 90%;
  top: 30%;
  border-radius: 10%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(0, 183, 255);
}
.exitbtn:hover {
  border: 2px solid black;
}
.link {
  position: absolute;
  color: rgb(70, 70, 70);
  z-index: 23;
  font-size: 20px;
  left: 41.7%;
  width: 250px;
  text-decoration: underline;
}
.conteiner {
  position: absolute;
  display: block;
  width: 100%;
  height: 8px;
  background-color: rgb(95, 93, 93);
  z-index: 30;
  margin-top: 3.5%;
}
.loading-bar {
  width: 1%;
  height: 8px;
  background-color: green;
}
.page-container {
  position: relative;
  margin: auto;
  width: 70%;
  height: 100vh;
  background-color: rgb(250, 250, 250);
}
.logo-container {
  position: relative;
  width: 100%;
  height: 25%;
  background-color: rgba(255, 0, 0, 0);
}
.logo {
  position: relative;
  top: 40%;
  width: 200px;
  height: 130px;
  background-color: transparent;
  left: 3%;
}
.fadingshit {
  width: 100%;
  height: 5px;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    850,
    from(green),
    to(#fff)
  );
}
