body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    overflow: hidden;
}

.navbar {
  width: 100%;
  background: radial-gradient(
    rgb(145, 145, 145),
    rgb(139, 139, 139),
    rgb(130, 130, 130),
    rgb(124, 124, 124),
    rgb(119, 119, 119)
  );
  height: 6.7%;
  position: absolute;
  border-bottom: 3px solid rgba(0, 0, 0, 0.774);
  box-shadow: 0px 6px rgba(0, 0, 0, 0.219);
  z-index: 30;
}
a {
  text-decoration: none;
  display: inline-block;
  text-decoration: none; 
  background-color: none;
  color:white;
}

.navbar a:hover {
  background-color: grey;
}

a:visited {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.categories a:hover {
  background: radial-gradient(
    rgb(255, 255, 255),
    rgb(233, 233, 233),
    rgb(211, 210, 210),
    rgb(190, 188, 188),
    rgb(167, 166, 166)
  );

}

.previous {
  top: 18%;
  position: relative;
  left: 3%;
  border: 2px solid black;
  border-radius: 50%;

}
.wrapper{
  top: 25%;
  position: absolute;
  width: 85px;
  margin: auto;
  text-align: center;
  left: 5%;
}
.next {
  top: 18%;
  position: relative;
  left: 3.5%;
  border: 2px solid black;
  border-radius: 50%;
}
.hover {
  position: relative;
}
.hover:hover{
  border: 2px solid rgb(196, 196, 196);
}
.exitbtn{
  position: absolute;
  left: 90%;
  top:30%;
  border-radius: 10%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(0, 183, 255);
}
.exitbtn:hover{
  border: 2px solid black;
}
.link {
  position: absolute;
  color: rgb(70, 70, 70);
  z-index: 23;
  font-size: 20px;
  top: 0%;
  left: 43.2%;
  width: 250px;
  text-decoration: underline;
}

.container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  position: relative;
}

.logo-container {
  background-color: rgb(0, 162, 255);
  height: 32%;
}

.info {
  padding-top: 4%;
  position: relative;
  padding-left: 4%;
}

.search-wrap {
  background-color: rgba(255, 0, 0, 0);
  width: 42%;
  height: 25%;
  position: relative;
  left: 33%;
  bottom: 45%;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 45px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  height: 61px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.dividernav {
  float: top;
  border-top: 11px solid rgb(221, 193, 31);
  position: relative;
  padding: 0;
  top: -8px;
}
.categories {
  margin: auto;
  position: relative;
  top: -16px;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-decoration: none;
  background: radial-gradient(
    rgb(255, 255, 255),
    rgb(233, 233, 233),
    rgb(211, 210, 210),
    rgb(190, 188, 188),
    rgb(167, 166, 166)
  );
  width: 100%;
  box-shadow: 0px 4px rgba(97, 97, 97, 0.151);
}

p {
  position: relative;
  left: 6%;
  font-size: 15px;
  font-weight: 600;
}
.bank {
  margin: auto;
  left: 22%;
  position: relative;
  border-left: 2.5px solid black;
  border-right: 2.5px solid black;
  font-size: 10px;
  display: inline-block;
  width: 11%;
  justify-content: center;
}

.bankpng {
  padding-top: 3%;
  position: relative;
  float: left;
  width: 50px;
  padding-left: 10px;
}
.services {
  left: 22%;
  position: relative;
  border-right: 2.5px solid black;
  font-size: 10px;
  display: inline-block;
  width: 11%;
}
.servicespng {
  padding-top: 3%;
  position: relative;
  float: left;
  width: 50px;
  padding-left: 10px;
}
.media {
  left: 22%;
  position: relative;
  border-right: 2.5px solid black;
  font-size: 10px;
  display: inline-block;
  width: 11%;
}
.mediapng {
  padding-top: 3%;
  position: relative;
  float: left;
  width: 50px;
  padding-left: 10px;
}
.shop {
  left: 22%;
  position: relative;
  border-right: 2.5px solid black;
  font-size: 10px;
  display: inline-block;
  width: 11%;
}
.shoppng {
  padding-top: 3%;
  position: relative;
  float: left;
  width: 50px;
  padding-left: 10px;
}
.travel {
  left: 22%;
  position: relative;
  border-right: 2.5px solid black;
  font-size: 10px;
  display: inline-block;
  width: 11%;
}
.travelpng {
  padding-top: 3%;
  position: relative;
  float: left;
  width: 50px;
  padding-left: 10px;
}
.content-sponsor {
  top: 0.5%;
  margin: auto;
  width: 60%;
  position: relative;
  height: 25%;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  left: 20%;
  
}
.frame-sponsored{
  background-color:  rgb(2, 111, 173);
  position: relative;
  width: 330px;
  height: 190px;
  color: white;
  font-size: 9px;
  border-top: 5px rgb(221, 193, 31) solid;
  margin: auto;
  margin-right: 15px;
  letter-spacing:2px;
  text-decoration: none;

}
.frame-sponsored:hover{
  border-top: 5px rgb(4, 75, 156) solid;
  transition: all 100ms linear;
}
.frame-sponsored .dealership{
  position: relative;
  background-image: url('img/ads/OnEarth.png');
  background-position: center;
  width: 315px;
  height: 138px;
  margin:auto;
}
.frame-sponsored .appartments{
  position: relative;
  background-image: url('img/ads/Legendary.png');
  background-position: center;
  width: 315px;
  height: 138px;
  margin:auto;
}
.frame-sponsored .banksp{
  position: relative;
  background-image: url('img/ads/bank.png');
  background-position: center;
  background-size: cover;
  width: 315px;
  height: 138px;
  margin:auto;
  text-decoration: none; 
  color:white;
}
.frame-sponsored .banksp h1{
  color: white;
  text-decoration: none; 
}
.dividercontent{
  top: -4%;
  position: relative;
  display:block;
  border:none;
  color:white;
  height:2px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 850, from(rgb(0, 0, 0)), to(#fff));
}
.content{
  top: -3.8%;
  margin: auto;
  width: 70%;
  position: relative;
  height: 34.5%;
  overflow: hidden;
  text-align: center;


}
.ad{
  left: 40px;
  background-color:  rgb(2, 111, 173);
  position: relative;
  width: 310px;
  height: 140px;
  color: white;
  font-size: 13px;
  display: inline-block;
  margin-right:6%;
  margin-bottom: 2.2%;
  background-position: center;
  background-size: cover;
  border: 2px double black;
  top: 2%;
}
.ad:hover{
  transition: all 100ms linear;
  background-repeat: no-repeat;
  border: 2px solid rgb(6, 80, 190);
}
.unavailable{
  margin: 0;
  position: absolute;
  color: white;
  font-size: 20px;
  background-color:rgba(0, 0, 0, 0.411);
  bottom:8px;
  width: 50%;
  left:-2px;
  height: 30px;
}
.unavailable-sp{
  position: absolute;
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.603);
  margin: 0;
  bottom: 10px;
  left:10px;
}